## Build artifacts
bin/
obj/
out/

## Visual Studio
.vs/
*.user
*.suo

## JetBrains Rider
.idea/

## Logs
*.log

## OS junk
.DS_Store
Thumbs.db

## NuGet
*.nupkg
*.snupkg
.nuget/

## Test results
TestResults/

## Publish
publish/
artifacts/

## Dotnet
*.lock.json

## Environment
.env
